<div class="grid grid-cols-3 gap-4">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Competition</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Goal</span>
          <span matListItemLine>Having the most colored tiles at the end of the game.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>How to play ?</span>
          <span matListItemLine>At each turn, you can color your zone to a different color to extend it.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Be cautious</span>
          <span matListItemLine>You are not alone in the grid !</span>
          <span matListItemLine>Someone else would have the same goal as you.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Best of 5</span>
          <span matListItemLine>You need to win 3 plays to win the game.</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Program inputs</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Start</span>
          <span matListItemLine>Size of the grid</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Each turn</span>
          <span matListItemLine>Matrix which represents the state of the grid when it is your turn.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Colors</span>
          <span matListItemLine>Between 5 and 20 different colors.</span>
          <span matListItemLine>In the code, each color is represented with a number between 0 and 19.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Authorized languages</span>
          <span matListItemLine>Java, TypeScript, Python.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Templates</span>
          <span matListItemLine>TBD LATER</span>
        </mat-list-item>
      </mat-list>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Prizes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>🥇 1st place</span>
          <span matListItemLine>20% of the cashprize</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>🥈 2nd place</span>
          <span matListItemLine>10% of the cashprize</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>🥉 3rd place</span>
          <span matListItemLine>5% of the cashprize</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>🍫 4th/5th place</span>
          <span matListItemLine>?? of the cashprize</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Rules</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Where can I extend my zone ?</span>
          <span matListItemLine>Only at the top left of the grid.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Which color can I choose ?</span>
          <span matListItemLine>All colors but color(s) taken by your opponent(s).</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>What happens if I decide to choose I color I could not take ?</span>
          <span matListItemLine>Your turn will be ignored.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>How the rank is computed ?</span>
          <span matListItemLine>With a ELO system.</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Mode</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Solo</span>
          <span matListItemLine>For the ones who want to test his/her algorithm alone.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Local</span>
          <span matListItemLine>If you want to test your algorithm with existing bots (the difficulty is easy).</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Battle</span>
          <span matListItemLine>If you want to test it with someone who pushes his/her code.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Tournament!!</span>
          <span matListItemLine>Only opened 10 minutes before the end of the Hackhaton !</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card >
    <mat-card-header>
      <mat-card-title>Enjoy!!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex flex-col items-center w-full">
        <grid class="w-1/2" [config]="gridExample"></grid>
      </div>
    </mat-card-content>
  </mat-card>
</div>
