<mat-card class="h-full" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Upload your code for the final battle!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item>
        <span matListItemTitle>Be cautious with what you upload</span>
        <span matListItemLine>If anything is wrong in the uploaded code, it will be too late</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Solo, duo and battle-royale compatible</span>
        <span matListItemLine>Your code have to be optimized for each mode from the platform</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Give a cool name!</span>
        <span matListItemLine>It will be displayed through the ladder</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Secret code to be remember</span>
        <span matListItemLine>For avoiding someone to erase your code by pushing with the same team name...</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
