.green {
  background-color: #1C7C54;
}
.gray {
  background-color: #909590;
}
.indigo {
  background-color: #5F0A87;
}
.fairy-tale {
  background-color: #EABFCB;
}
.red-wood {
  background-color: #A63D40;
}
.yellow {
  background-color: #E9B872;
}
.air-force-blue {
  background-color: #6494AA;
}
.dark-brown {
  background-color: #362417;
}
.columbia-blue {
  background-color: #C7DBE6;
}
.night {
  background-color: #0F0E0E;
}
.cerise {
  background-color: #DA4167;
}
.blue {
  background-color: #011638;
}
.emerald {
  background-color: #3DDC97;
}
.white {
  background-color: whitesmoke;
}
.rose {
  background-color: #DC7F9B;
}
.turquoise {
  background-color: #55D6BE;
}
.dark-purple {
  background-color: #48233C;
}
.red {
  background-color: #ED1C24;
}
.slate-blue {
  background-color: #645DD7;
}
.orange {
  background-color: #CD5334;
}
