@if (grid() !== undefined) {
  <div class="flex flex-col w-full h-full gap-y-4">
    <grid [config]="grid()" [usedJoker]="usedJoker()" [jokerPosition]="startingTile()"></grid>
    <div class="flex w-full justify-between gap-x-4">
      <div class="flex gap-x-2">
        @if (isRunning()) {
          <button mat-mini-fab (click)="stop()">
            <mat-icon>pause</mat-icon>
          </button>
        } @else {
          <button mat-mini-fab color="accent" (click)="run()">
            <mat-icon>play_arrow</mat-icon>
          </button>
        }
      </div>
      <mat-slider [color]="'accent'" [min]="0" [max]="turnNumber()" [discrete]="true">
        <input matSliderThumb [(value)]="index">
      </mat-slider>
      <div class="flex gap-x-2">
        <button mat-mini-fab color="accent" (click)="goPrevious()">
          <mat-icon>skip_previous</mat-icon>
        </button>
        <button mat-mini-fab color="accent" (click)="goNext()">
          <mat-icon>skip_next</mat-icon>
        </button>
      </div>
    </div>
  </div>
}