<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Test your algorithm by fighting against 3 bots !</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item>
        <span matListItemTitle>Start</span>
        <span matListItemLine>At the top-left of the grid</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Game</span>
        <span matListItemLine>Pick up a color to extend your zone</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Goal</span>
        <span matListItemLine>Having most tiles than all of them</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
